<!DOCTYPE html>
<html>
<head>
    <title>
        About
    </title>
    <link rel="icon" href="/img/weather icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>    

<body>
    <div class="main-component">
        {{>header}}
        <h2>This is About and importing dynamic html {{title}} </h2>
        <img class="portrait" src="/img/dog.png">
     
    </div>
    {{>footer}}
</body>


</html>